this script examines the validity of the nationality of funding organizations with the golden sample from public wos dataset (https://support.clarivate.com/ScientificandAcademicResearch/s/article/Web-of-Science-Core-Collection-Availability-of-funding-data?language=en_US)

In [1]:
import pandas as pd
import re

In [2]:
inst_lili_path="../../data/nf_folder/Data/RawData/institution_validity/funder_country_all.xlsx"
inst_lili=pd.read_excel(inst_lili_path)

In [3]:
inst_lili = inst_lili.rename(columns={'Organisation':'inst_lili','Country':'cntry'})
inst_lili.head()

,labela,labelb,ID,inst_lili,Art_Num,cntry,Multi_Co
0,p1,1,1,National Natural Science Foundation of China,1944785,PEOPLES-R-CHINA,NaN
1,p1,1,2,National Institutes of Health,430526,USA,NaN
2,p1,1,3,NIH,424095,USA,NaN
3,p1,1,4,National Science Foundation,316781,USA,NaN
4,p1,1,5,NSF,248838,USA,NaN

In [4]:
inst_lili=inst_lili[['inst_lili','cntry']]
inst_lili.head()

                                      inst_lili            cntry
0  National Natural Science Foundation of China  PEOPLES-R-CHINA
1                 National Institutes of Health              USA
2                                           NIH              USA
3                   National Science Foundation              USA
4                                           NSF              USA

In [5]:
inst_lili['inst_lili']=inst_lili['inst_lili'].apply(lambda x:x.strip())

In [6]:
inst_lili=inst_lili.drop_duplicates()

In [7]:
inst_lili.head()

                                      inst_lili            cntry
0  National Natural Science Foundation of China  PEOPLES-R-CHINA
1                 National Institutes of Health              USA
2                                           NIH              USA
3                   National Science Foundation              USA
4                                           NSF              USA

In [8]:
inst_wos_path="../../data/nf_folder/Data/RawData/institution_validity/incites-funding-agencies.xlsx"
inst_wos=pd.read_excel(inst_wos_path)

In [9]:
inst_wos.head()
inst_wos=inst_wos.rename(columns={'NAME':'inst_wos','REGION':'cntry_wos'})

In [10]:
inst_wos['inst_wos']=inst_wos['inst_wos'].apply(lambda x:x.strip())

In [11]:
inst_wos.head()

                                            inst_wos  cntry_wos
0                                             ANPCyT  ARGENTINA
1  Consejo Interinstitucional de Ciencia y Tecnol...  ARGENTINA
2  Consejo Nacional de Investigaciones Cientifica...  ARGENTINA
3                                             FONCyT  ARGENTINA
4                    National University of La Plata  ARGENTINA

In [12]:
inst_meta=inst_wos.merge(inst_lili,left_on='inst_wos',right_on='inst_lili',how='left')

In [13]:
inst_meta.head()

,inst_wos,cntry_wos,inst_lili,cntry
0,ANPCyT,ARGENTINA,NaN,NaN
1,Consejo Interinstitucional de Ciencia y Tecnol...,ARGENTINA,NaN,NaN
2,Consejo Nacional de Investigaciones Cientifica...,ARGENTINA,Consejo Nacional de Investigaciones Cientifica...,ARGENTINA
3,FONCyT,ARGENTINA,FONCyT,ARGENTINA
4,National University of La Plata,ARGENTINA,National University of La Plata,ARGENTINA

In [14]:
inst_meta.to_csv("inst_checking_v2.csv",index=False)