### this script samples from the funder list to check the accuracy of the identification

In [1]:
import pandas as pd
import numpy as np

In [2]:
fundall_path="../../data/nf_folder/Data/RawData/funder_country_all.xlsx"
funders_path="../../data/nf_folder/Data/RawData/Funder_Count.txt"

In [27]:
inst_sample_path='../../data/nf_folder/Data/RawData/inst_sample.xlsx'

In [4]:
fundall=pd.read_excel(fundall_path)
fundall.head()

,labela,labelb,ID,Organisation,Art_Num,Country,Multi_Co
0,p1,1,1,National Natural Science Foundation of China,1944785,PEOPLES-R-CHINA,NaN
1,p1,1,2,National Institutes of Health,430526,USA,NaN
2,p1,1,3,NIH,424095,USA,NaN
3,p1,1,4,National Science Foundation,316781,USA,NaN
4,p1,1,5,NSF,248838,USA,NaN

In [20]:
fundall.labelb.unique()

array([1, 0])

In [6]:
funders=pd.read_csv(funders_path, sep=";", 
                    error_bad_lines=False, warn_bad_lines=False,skiprows=1)

In [13]:
funders=funders.iloc[:,0:3]
funders.columns=['org','cntry','count']
funders.head()

                                           org            cntry  count
0  Innovative Research Group of Hubei Province  PEOPLES-R-CHINA     68
1                RPB Physician-Scientist Award              USA     12
2                                         OEMT  PEOPLES-R-CHINA      3
3                                        NICUS            SPAIN      4
4                        Faculdade de Farmacia           BRAZIL      4

In [21]:
funders=funders.merge(fundall[['labela','Organisation']],left_on='org',right_on='Organisation')

In [23]:
funders=funders.drop(columns=['Organisation'])
funders.head()

                                           org            cntry  count labela
0  Innovative Research Group of Hubei Province  PEOPLES-R-CHINA     68     p2
1                RPB Physician-Scientist Award              USA     12     p2
2                                         OEMT  PEOPLES-R-CHINA      3     p2
3                                        NICUS            SPAIN      4     p2
4                        Faculdade de Farmacia           BRAZIL      4     p2

In [ ]:

    # use to_excel function and specify the sheet_name and index
    # to store the dataframe in specified sheet
    data_frame1.to_excel(writer, sheet_name="Fruits", index=False)

In [28]:
cntrys=['USA','PEOPLES-R-CHINA']
with pd.ExcelWriter(inst_sample_path) as writer:
    for c in cntrys:
        df=funders[funders.cntry==c]
        df=df.sample(n=100)
        df.to_excel(writer,sheet_name=c,index=False)