this script calculate the

In [1]:
import pandas as pd
import numpy as np
from itertools import product
from ast import literal_eval
import seaborn as sns
import random
import matplotlib.pyplot as plt
from matplotlib.lines import Line2D

In [2]:
pubs_path="../../data/nf_folder/Data/DerivedData/CleanedRawData/pubs_author_funder.csv"

In [3]:
cntry_fund_frac_path='../../data/nf_folder/Data/DerivedData/Derived/cntry_fund_frac.csv'

In [4]:
pubs_df=pd.read_csv(pubs_path)
pubs_df['author_country'] = pubs_df['author_country'].apply(literal_eval)
pubs_df['funder_country'] = pubs_df['funder_country'].apply(
    lambda x: literal_eval(x) if pd.notnull(x) else "Not-Funded")
pubs_df.head()

/home/miaoli/conda/envs/funding/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,author_country,funder_country,discipline,year,rel_citation,citation
0,30507292,[Turkey],[Turkey],77,2009,0.485,6
1,30574690,"[United States, France]","[United States, United States, United States, ...",83,2009,0.703,9
2,30574691,[Russia],[Russia],83,2009,0.312,4
3,30585095,"[Spain, Spain]","[Spain, Spain, Spain, Spain, Spain, Spain]",89,2009,0.137,1
4,30585097,"[Germany, Spain]",[Spain],89,2009,0.410,3

In [5]:
pubs_df['funded']=pubs_df['funder_country'].apply(
    lambda x:1 if x!='Not-Funded' else 0)
pubs_df['IntCol']=pubs_df['author_country'].apply(
    lambda x:1 if len(set(x))>1 else 0)
pubs_df.head()

,id,author_country,funder_country,discipline,year,rel_citation,citation,funded,IntCol
0,30507292,[Turkey],[Turkey],77,2009,0.485,6,1,0
1,30574690,"[United States, France]","[United States, United States, United States, ...",83,2009,0.703,9,1,1
2,30574691,[Russia],[Russia],83,2009,0.312,4,1,0
3,30585095,"[Spain, Spain]","[Spain, Spain, Spain, Spain, Spain, Spain]",89,2009,0.137,1,1,0
4,30585097,"[Germany, Spain]",[Spain],89,2009,0.410,3,1,1

assign each paper to its funding country by fractional counting

In [ ]:
cntry_fund_frac = []
for index, row in pubs_df.iterrows():
    year=row['year']
    funded=row['funded']
    coll=row['IntCol']
    funder_cntrys=row['funder_country']
    if funder_cntrys=='Not-Funded':
        cntry_fund_frac.append([funder_cntrys,1,year,funded,coll])
    else:
        funder_cntrys=list(set(funder_cntrys))
        n=len(funder_cntrys)
        for c in funder_cntrys:
            cntry_fund_frac.append([c,1/n,year,funded,coll])

In [ ]:
cntry_fund_frac_df = pd.DataFrame(cntry_fund_frac,
                                  columns=['fund_cntry','cnt_frac','year','funded','intcol'])
cntry_fund_frac_df.head()

In [19]:
cntry_fund_frac_df.to_csv(cntry_fund_frac_path,index=False)