this script assign publications to author countries using full counting method

In [1]:
import pandas as pd

In [2]:
pubs_path="../../data/nf_folder/Data/DerivedData/CleanedRawData/pub.pkl"

In [3]:
cntry_author_full_path='../../data/nf_folder/Data/DerivedData/Derived/cntry_author_full.csv'

In [4]:
pub_df=pd.read_pickle(pubs_path)
pub_df.head()

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund
0,60694041,2017,9,1,"[Canada, United States]","[United States, United States]","[United States, Canada]",[United States],1,1,0
1,48573156,2012,89,1,[France],Not-Funded,[France],Not-Funded,0,0,0
2,55323671,2015,89,1,"[France, Chile]","[Chile, Chile, Chile, Chile, Chile]","[Chile, France]",[Chile],1,1,0
3,57633115,2016,31,1,"[Switzerland, United States]",[Switzerland],"[Switzerland, United States]",[Switzerland],1,1,0
4,64831413,2018,99,1,[China],"[China, China, China, China, China, China]",[China],[China],1,0,0

In [10]:
cntry_df=pub_df[['author_distinct','year','dis']]
cntry_df=cntry_df.explode('author_distinct')

In [11]:
cntry_df=cntry_df.groupby(['author_distinct','year','dis']).size().reset_index(name='count')
cntry_df=cntry_df.rename(columns={'author_distinct':'cntry'})

In [13]:
cntry_df.to_csv(cntry_author_full_path,index=False)