this script distribute funded publications to funder country by full counting. Each funder country gets one paper.

In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
pubs_path="../../data/nf_folder/Data/DerivedData/CleanedRawData/pub.pkl"

In [5]:
cntry_fund_full_path='../../data/nf_folder/Data/DerivedData/Derived/cntry_fund_full.csv'

In [6]:
pubs_df=pd.read_pickle(pubs_path)
pubs_df.head()

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol
0,60694041,2017,9,1,"[Canada, United States]","[United States, United States]","[United States, Canada]",[United States],1,1
1,48573156,2012,89,1,[France],Not-Funded,[France],Not-Funded,0,0
2,55323671,2015,89,1,"[France, Chile]","[Chile, Chile, Chile, Chile, Chile]","[Chile, France]",[Chile],1,1
3,57633115,2016,31,1,"[Switzerland, United States]",[Switzerland],"[Switzerland, United States]",[Switzerland],1,1
4,64831413,2018,99,1,[China],"[China, China, China, China, China, China]",[China],[China],1,0

assign each paper to its funding country by full counting

In [7]:
cntry_fund_full = []
for index, row in pubs_df.iterrows():
    year=row['year']
    coll=row['IntCol']
    funder_cntrys=row['funder_distinct']
    if funder_cntrys=='Not-Funded':
        cntry_fund_full.append([funder_cntrys,1,year,coll])
    else:
        for c in funder_cntrys:
            cntry_fund_full.append([c,1,year,coll])

In [8]:
full_df = pd.DataFrame(cntry_fund_full,
                                  columns=['funder','cnt','year','intcol'])
full_df=full_df.groupby(['funder','year','intcol'])['cnt'].sum().reset_index()

In [9]:
full_df.to_csv(cntry_fund_full_path,index=False)