this script count the number of publication of countries over year

In [1]:
import pandas as pd
from ast import literal_eval
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy.spatial import distance

In [2]:
pubs_path="../../data/nf_folder/Data/DerivedData/CleanedRawData/pubs_author_funder.csv"

In [9]:
cntry_cnt_output='../../data/nf_folder/Data/DerivedData/Derived/cntry_year_cnt.csv'

In [3]:
pubs_author_funder = pd.read_csv(pubs_path)
pubs_author_funder['author_country'] = pubs_author_funder['author_country'].apply(literal_eval)
pubs_author_funder['funder_country'] = pubs_author_funder['funder_country'].apply(
    lambda x:literal_eval(x) if pd.notnull(x) else "Not-Funded")
pubs_author_funder.head()

/home/miaoli/conda/envs/funding/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,author_country,funder_country,discipline,year,rel_citation,citation
0,30507292,[Turkey],[Turkey],77,2009,0.485,6
1,30574690,"[United States, France]","[United States, United States, United States, ...",83,2009,0.703,9
2,30574691,[Russia],[Russia],83,2009,0.312,4
3,30585095,"[Spain, Spain]","[Spain, Spain, Spain, Spain, Spain, Spain]",89,2009,0.137,1
4,30585097,"[Germany, Spain]",[Spain],89,2009,0.410,3

In [4]:
pubs_author_funder['author_distinct']=pubs_author_funder['author_country'].apply(lambda x:list(set(x)))

In [7]:
cntry_cnt=[]
for index, row in pubs_author_funder.iterrows():
    year=row['year']
    author_cntry=row['author_distinct']
    n=len(author_cntry)
    for c in author_cntry:
        cntry_cnt.append([c,year,1/n])

In [12]:
cntry_cnt_df=pd.DataFrame(cntry_cnt,columns=['country','year','count'])
cntry_cnt_df=cntry_cnt_df.groupby(['country','year'])['count'].sum().reset_index(name='count')
cntry_cnt_df.head()

       country  year      count
0  Afghanistan  2009   8.750000
1  Afghanistan  2010  15.566667
2  Afghanistan  2011  13.044444
3  Afghanistan  2012  19.566667
4  Afghanistan  2013  11.095833

In [13]:
cntry_cnt_df.to_csv(cntry_cnt_output,index=False)