### this script calculates the flow of funding instances between countries

In [27]:
import pandas as pd
from collections import Counter

In [8]:
pubs_path="../../../data/nf_folder/Data/DerivedData/CleanedRawData/pub.pkl"

In [9]:
pub_df=pd.read_pickle(pubs_path)

In [17]:
pub_df.head()

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund,intfund
0,60694041,2017,9,1,"[Canada, United States]","[United States, United States]","[United States, Canada]",[United States],1,1,0,0
1,48573156,2012,89,1,[France],Not-Funded,[France],Not-Funded,0,0,0,0
2,55323671,2015,89,1,"[France, Chile]","[Chile, Chile, Chile, Chile, Chile]","[Chile, France]",[Chile],1,1,0,0
3,57633115,2016,31,1,"[Switzerland, United States]",[Switzerland],"[Switzerland, United States]",[Switzerland],1,1,0,0
4,64831413,2018,99,1,[China],"[China, China, China, China, China, China]",[China],[China],1,0,0,0

In [36]:
dfvalues=pub_df[pub_df.funder!='Not-Funded'][['author_distinct','funder']].values
reslist=[]
for entry in dfvalues:
    authorlist=entry[0]
    funderlist=entry[1]
    counts=Counter(funderlist)
    num_author=len(authorlist)
   
    for funder,units in counts.items():
        unit_rev=units/num_author
        for author in authorlist:
            reslist.append([funder,author,unit_rev])

In [39]:
res_df=pd.DataFrame(reslist,columns=['funder','author','units'])

In [41]:
res_df=res_df.groupby(['funder','author'])['units'].sum().reset_index()

In [43]:
res_df.to_csv("unitflow.csv")

In [44]:
res_df

            funder          author       units
0      Afghanistan     Afghanistan    0.500000
1      Afghanistan       Australia    0.333333
2      Afghanistan      Bangladesh    0.500000
3      Afghanistan         Bolivia    0.250000
4      Afghanistan          Canada    1.283333
...            ...             ...         ...
14155     Zimbabwe  United Kingdom   11.558333
14156     Zimbabwe   United States   20.950000
14157     Zimbabwe         Vietnam    0.500000
14158     Zimbabwe          Zambia    2.100000
14159     Zimbabwe        Zimbabwe  160.541667

[14160 rows x 3 columns]