## this script use fixed-effect model to estimate the importance of different funding sources

In [1]:
import pandas as pd
import numpy as np
from itertools import combinations
import tqdm

In [2]:
pub_path = "../../data/NationalFunding/Data/DerivedData/CleanedRawData/pub.pkl"

In [3]:
df = pd.read_pickle(pub_path)

In [4]:
df.sample(2)

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund,intfund
2334018,51212588,2013,82,1,[Iran],Not-Funded,[Iran],Not-Funded,0,0,0,0
6821579,47688318,2011,8,1,[Greece],Not-Funded,[Greece],Not-Funded,0,0,0,0

In [5]:
def get_pubcnt_cntry_year(df):
    df = df[['id','year','author_distinct']].explode('author_distinct')
    df = df.groupby(['author_distinct','year']).size().reset_index(name='pubcnt')
    df = df.rename(columns={'author_distinct':'cntry'})
    return df

In [6]:
def get_fundcnt_from_cntrys(df):
    df = df[df.funder!='Not-Funded']
    pub2cntry = df[['id','year','author_distinct','funder']].explode('author_distinct') #assign publications into author countries
    fund2cntry = pub2cntry.explode('funder').groupby(['author_distinct','year','funder']).size().reset_index(name='fundcnt')
    fund2cntry = fund2cntry.rename(columns={'author_distinct':'cntry'})
    return fund2cntry

In [7]:
def map_funder_to_new_name(fund2cntry, topcntrys):
    topcntrys_dict = dict(zip(topcntrys, topcntrys))
    #replace the non-top funders to "others"
    df = fund2cntry.copy()
    df['region'] = df['funder'].copy()
    df['region'] = df['region'].map(topcntrys_dict)
    df['region'] = df['region'].fillna('others')
    df.loc[df['cntry']==df['funder'],'region']='domestic' #assign "domestic"
    return df

In [8]:
def group_fund_by_region(fund2cntry):
    #group the amount of fund by region
    fund_by_region = fund2cntry.groupby(['cntry','year','region'])['fundcnt'].sum().reset_index() 
    fund_by_region = fund_by_region.pivot_table(
        index=['cntry','year'], columns=['region'],values='fundcnt',fill_value=0)
    fund_by_region['foreign'] = fund_by_region.loc[:, fund_by_region.columns != 'domestic'].sum(axis=1)
    #for those regions that 
    fund_by_region = np.log(fund_by_region+1).reset_index()
    return fund_by_region

In [9]:
def add_previous_pub(pubcnt):
    df_curr = pubcnt[pubcnt.year>2009]
    df_curr = df_curr.rename(columns={'year':'year_curr','pubcnt':'pubcnt_curr'})
    df_prev = pubcnt[pubcnt.year<2018]
    df_prev = df_prev.rename(columns={'year':'year_prev','pubcnt':'pubcnt_prev'})
    df_curr['year_prev'] = df_curr['year_curr']-1
    df = df_curr.merge(df_prev, on=['cntry','year_prev'])
    return df

#### get the amount of grants from each top countries

In [10]:
fund_by_cntry = get_fundcnt_from_cntrys(df)
topcntrys=['United States','China','EU','United Kingdom','France','Germany']
fund_by_cntry_region = map_funder_to_new_name(fund_by_cntry, topcntrys)
fund_by_region = group_fund_by_region(fund_by_cntry_region)

In [11]:
test = fund_by_cntry_region.copy()

In [31]:
test[(test.cntry=='Australia')&(test.year==2009)].sort_values(by='fundcnt',ascending=False)

21233

In [45]:
test[(test.year==2009)].sort_values(by='fundcnt',ascending=False).head(60)

                cntry  year          funder  fundcnt          region
14365           China  2009           China   342831        domestic
78986   United States  2009   United States   312582        domestic
26928         Germany  2009         Germany    59155        domestic
37396           Japan  2009           Japan    55454        domestic
67465           Spain  2009           Spain    52987        domestic
12271          Canada  2009          Canada    41853        domestic
77635  United Kingdom  2009  United Kingdom    39148        domestic
8400           Brazil  2009          Brazil    33299        domestic
24286          France  2009          France    30869        domestic
66618     South Korea  2009     South Korea    30623        domestic
78885   United States  2009           China    27574           China
60903          Russia  2009          Russia    22553        domestic
2346        Australia  2009       Australia    19797        domestic
72128          Taiwan  2009          Taiwan    18694        domestic
69801          Sweden  2009          Sweden    17467        domestic
35856           Italy  2009           Italy    17155        domestic
31653           India  2009           India    16476        domestic
77636  United Kingdom  2009   United States    16092   United States
26996         Germany  2009   United States    13312   United States
12348          Canada  2009   United States    13006   United States
14430           China  2009   United States    11644   United States
49525     Netherlands  2009     Netherlands    10296        domestic
78904   United States  2009         Germany    10293         Germany
18666  Czech Republic  2009  Czech Republic     9423        domestic
70791     Switzerland  2009     Switzerland     9256        domestic
5800          Belgium  2009         Belgium     9150        domestic
23468         Finland  2009         Finland     9097        domestic
24361          France  2009   United States     8886   United States
78985   United States  2009  United Kingdom     8193  United Kingdom
78883   United States  2009          Canada     8057          others
994         Argentina  2009       Argentina     7995        domestic
37438           Japan  2009   United States     7847   United States
57769        Portugal  2009        Portugal     7535        domestic
35896           Italy  2009   United States     7289   United States
45976          Mexico  2009          Mexico     7164        domestic
19472         Denmark  2009         Denmark     6886        domestic
2427        Australia  2009   United States     6298   United States
37371           Japan  2009           China     6227           China
77548  United Kingdom  2009           China     6208           China
56902          Poland  2009          Poland     6087        domestic
26920         Germany  2009              EU     5883              EU
75120          Turkey  2009          Turkey     5648        domestic
67415           Spain  2009              EU     5570              EU
78920   United States  2009           Japan     5397          others
78970   United States  2009           Spain     5323          others
49557     Netherlands  2009   United States     5295   United States
77556  United Kingdom  2009              EU     5246              EU
67474           Spain  2009   United States     5019   United States
26912         Germany  2009           China     4922           China
78901   United States  2009          France     4885          France
77565  United Kingdom  2009         Germany     4821         Germany
24280          France  2009              EU     4739              EU
2356        Australia  2009           China     4731           China
12273          Canada  2009           China     4666           China
66628     South Korea  2009   United States     4307   United States
70801     Switzerland  2009   United States     4275   United States
3467          Austria  2009         Austria     4258        domestic
52778          Norway  2009          Norway     4104        domestic
33129            Iran  2009            Iran     4061        domestic
78969   United States  2009     South Korea     3945          others

In [13]:
df.head(2)

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund,intfund
0,60694041,2017,9,1,"[Canada, United States]","[United States, United States]","[Canada, United States]",[United States],1,1,0,0
1,48573156,2012,89,1,[France],Not-Funded,[France],Not-Funded,0,0,0,0

In [33]:
tt1 = df[(df.year==2009)&(df.funder!='Not-Funded')].explode("author_distinct")

In [34]:
t = tt1[tt1.author_distinct=='Australia']
t

,id,year,dis,type,author,funder,author_distinct,funder_distinct,funded,IntCol,cofund,intfund
1236,31887308,2009,100,1,"[Japan, Australia]",[Japan],Australia,[Japan],1,1,0,0
1694,31764816,2009,51,1,"[Australia, United States, Germany]","[United States, United States, United States, ...",Australia,"[United States, Germany]",1,1,1,1
2339,32220618,2009,37,1,"[Australia, Singapore, Greece, Israel, Italy]","[United Kingdom, Israel, Australia, EU]",Australia,"[Israel, EU, Australia, United Kingdom]",1,1,1,1
2656,31256583,2009,12,1,"[United Kingdom, China, South Korea, Japan, Au...",[South Korea],Australia,[South Korea],1,1,0,0
4397,31416613,2009,51,1,"[United States, Taiwan, Australia]","[Taiwan, Taiwan, Taiwan]",Australia,[Taiwan],1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12752899,32817862,2009,98,1,"[China, Australia]",[Finland],Australia,[Finland],1,1,0,1
12753108,32854986,2009,28,1,"[Australia, United States, Czech Republic]","[United States, Australia, Australia, Czech Re...",Australia,"[Czech Republic, United States, Australia]",1,1,1,1
12755487,32086536,2009,17,1,"[Australia, Ireland, New Zealand, United Kingdom]","[Australia, Australia, Australia, Australia]",Australia,[Australia],1,1,0,0
12756790,32847934,2009,99,1,[Australia],[Australia],Australia,[Australia],1,0,0,0
12757522,32302268,2009,82,1,"[Spain, Australia]",[Spain],Australia,[Spain],1,1,0,0

In [37]:
t['t'] = t.apply(lambda x:1 if len(x.funder_distinct)==1 and x.funder_distinct[0]=='Australia' else 0, axis=1)

/tmp/ipykernel_2156404/3051843278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t['t'] = t.apply(lambda x:1 if len(x.funder_distinct)==1 and x.funder_distinct[0]=='Australia' else 0, axis=1)

In [42]:
t[t.t==0].explode('funder_distinct').groupby('funder_distinct').size().sort_values(ascending=False)

funder_distinct
Australia         3173
United States     2900
China             1164
United Kingdom    1152
Germany            531
                  ...
Brunei               1
Bulgaria             1
Nigeria              1
Iraq                 1
Zimbabwe             1
Length: 89, dtype: int64

In [40]:
8270/15956

0.5183003258962146

#### get the number of publications authored by countries between two consecutive years

In [49]:
pubcnt = get_pubcnt_cntry_year(df)
pubcnt_new = add_previous_pub(pubcnt)

In [50]:
def calculate_growth_rate_take_log(df):
    df['growth_rate']=(df['pubcnt_curr']/df['pubcnt_prev'])-1
    #df['growth_rate']=df['growth_rate']
    df['pubcnt_curr']=np.log(df['pubcnt_curr'])
    df['pubcnt_prev']=np.log(df['pubcnt_prev'])
    return df

In [51]:
pubcnt_new=calculate_growth_rate_take_log(pubcnt_new)

In [52]:
pubcnt_new.head(2)

         cntry  year_curr  pubcnt_curr  year_prev  pubcnt_prev  growth_rate
0  Afghanistan       2010     3.496508       2009     2.833213     0.941176
1  Afghanistan       2011     3.332205       2010     3.496508    -0.151515

In [53]:
reg_df = pubcnt_new.merge(fund_by_region, left_on=['cntry','year_curr'], right_on=['cntry','year']
                         ).drop(columns=['year'])

In [56]:
reg_df.to_csv("regression_data.csv", index=False)

In [25]:
reg_df = pd.read_csv("regression_data.csv")

In [26]:
reg_df['test'] = reg_df.apply(lambda x: 1 if x.foreign>x.domestic else 0, axis=1)

In [30]:
reg_df[reg_df.test==1].cntry.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua & Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia & Herzegovina', 'Botswana', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi', 'Byelarus',
       'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'Colombia', 'Comoros',
       'Congo', 'Cook Islands', 'Costa Rica', 'Crimea', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica ',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Federated States of Micronesia ', 'Fiji', 'Finland', 'France',
       'French-Guiana', 'French-Polynesia', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana ', 'Greece', 'Grenada', 'Guadeloupe',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras ', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon ', 'Lesotho', 'Liberia ',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Moldova ', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Namibia', 'Nauru', 'Nepal', 'Netherlands',
       'Netherlands-Antilles', 'New Zealand', 'New-Caledonia',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North Korea', 'Norway',
       'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Republic of Kosovo', 'Republic of Serbia',
       'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Saint-Vincent-et-les-Grenadines', 'Samoa', 'San Marino',
       'Sao Tome & Principe', 'Saudi Arabia', 'Senegal', 'Seychelles',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St-Kitts & Nevis ', 'St-Lucia', 'Sudan',
       'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria',
       'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican',
       'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [64]:
reg_df.shape

(1782, 16)